<template>
  <!-- Header -->
  <the-header>
    <!-- Search Input -->
    <section class="grid-x align-center">
      <form @submit.prevent="searchMovie()" class="cell medium-10 small-10 large-8">
        <div class="input-group">
          <input type="text" class="input-group-field" v-model.trim="search" />
          <button type="submit" class="button" value="Search">Submit</button>
        </div>
      </form>
    </section>
  </the-header>
  <!-- Movie Lists -->
  <div class="grid-x">
    <movie-list
      class="cell large-4 small-12 medium-6"
      v-for="movie in movies"
      :key="movie.imdbID"
      :to="'/movie/' + movie.imdbID"
      :src="movie.Poster"
      :alt="movie.Title"
    >
      <template #type>
        {{ movie.Type }}
      </template>
      <template #year>
        <h5>{{ movie.Year }}</h5>
      </template>
      <template #title>
        <h1>{{ movie.Title }}</h1>
      </template>
    </movie-list>
  </div>
</template>

<script>
// @ is an alias to /src
import { ref } from "vue";
import TheHeader from "@/components/TheHeader.vue";
import MovieList from "@/components/MovieList.vue";

export default {
  name: "Home",
  components: {
    TheHeader,
    MovieList,
  },
  title: "Vue Movie Base",
  setup() {
    const search = ref("");
    const movies = ref([]);
    const searchMovie = () => {
      if (search.value != "") {
        fetch(`http://www.omdbapi.com/?apikey=${process.env.VUE_APP_API_KEY}&s=${search.value}`)
          .then((response) => response.json())
          .then((data) => {
            movies.value = data.Search;
            console.log((movies.value = data.Search));
            search.value = "";
          });
      }
    };
    return {
      movies,
      search,
      searchMovie,
    };
  },
};
</script>
<style lang="scss" scoped>
.align-center {
  margin-top: 2%;
}
.button {
  color: $white;
  background: $vue_color;
}
</style>
