<template>
  <div class="media-object">
    <div class="media-object-section">
      <img :src="movie.Poster" :alt="movie.Title" />
    </div>
    <div class="media-object-section">
      <h2>
        {{ movie.Title }}
      </h2>
      <h4>
        {{ movie.Year }}
      </h4>
      <p>
        {{ movie.Plot }}
      </p>
      <hr />
      <details>
        <summary>Some More Detail</summary>
        Rated : {{ movie.Rated }}
        <br />
        Release Date : {{ movie.Released }}
        <br />
        Runtime : {{ movie.Runtime }}
        <br />
        IMBD Rating : {{ movie.imdbRating }}
      </details>
    </div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import { useRoute } from "vue-router";
import { onBeforeMount } from "@vue/runtime-core";
export default {
  title: "Movie Detail",
  setup() {
    const movie = ref({});
    const route = useRoute();
    onBeforeMount(() => {
      fetch(`http://www.omdbapi.com/?apikey=2562c4df&i=${route.params.id}&plot=full`)
        .then((response) => response.json())
        .then((data) => {
          movie.value = data;
        });
    });
    return {
      movie,
    };
  },
};
</script>

<style lang="scss" scoped>
.card {
  background: $darkgray;
  color: $white;
  h2 {
    color: darkren($vue_color, 60%);
  }
}
</style>
