<template>
  <div class="card">
    <div class="card-section">
      <h1>404</h1>
      <h3>Sorry, Not Found</h3>
      <router-link class="hollow large button" to="/">Back To Home</router-link>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card {
  border-radius: 20px;
  box-shadow: 2px 2px 4px transparentize($color: $white, $amount: 0.4);
}
h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 3em;
}
</style>
