<template>
  <!-- movie List -->
  <section class="card">
    <div class="card-section">
      <router-link :to="to">
        <div class="card-section">
          <figure>
            <img :src="src" :alt="alt" />
            <figcaption>
              <slot name="type"></slot>
            </figcaption>
          </figure>
        </div>
        <div class="card-section">
          <div>
            <slot name="year"></slot>
          </div>
          <div class="title">
            <slot name="title"></slot>
          </div>
        </div>
      </router-link>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      reqiured: false,
      default: "/",
    },
    src: {
      type: String,
      reqiured: false,
      default: "",
    },
    alt: {
      type: String,
      reqiured: false,
      default: "",
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  background: darken($color: $darkgray, $amount: 60%);
}
figcaption {
  background: $vue_color;
  color: $white;
  width: 80px;
  position: relative;
  top: -40%;
  padding: 1%;
  font-size: 1.5rem;
}
.title {
  color: $white;
}
</style>
