<template>
  <!-- Header and Logo -->
  <header class="top-bar">
    <router-link to="/">
      <h1><span>Vue</span>MovieBase</h1>
    </router-link>
  </header>
  <!-- Movie Search Input -->
  <slot></slot>
  <!-- Landing Page -->
  <section class="card">
    <router-link class="card-section" to="/movie/tt0468569">
      <img
        src="https://images.indianexpress.com/2019/08/the-dark-knight-759.jpg"
        alt="The Dark Knight"
        title="The Dark Knight"
      />
    </router-link>
    <section class="card-srction">
      <h3>The Dark Knight</h3>
      <p>
        Gotham's new District Attorney has been elected. His name is Harvey Dent, and he has a
        radical new agenda that threatens to take down Gotham's organized crime underworld once and
        for all with an iron fist. But the emergence of the rogue vigilante known as Batman has
        caused problems for Dent and his agenda. A new criminal mastermind known only as "The Joker"
        has arrived and aims to take Gotham out from under Harvey Dent's iron fist. The Joker stages
        a masterfully planned bank robbery and robs the Gotham mob blind. He uses this money to
        stage ....
      </p>
    </section>
  </section>
</template>

<style lang="scss" scoped>
.top-bar {
  background: darken($color: $darkgray, $amount: 70%);
}
h1 {
  color: $white;
  font-family: "Oswald", sans-serif;
  span {
    font-family: "Staatliches", cursive;
    color: $vue_color;
  }
}
img {
  width: 100vw;
  height: 50vh;
}
section {
  background: darken($color: $darkgray, $amount: 60%);
  color: $white;
}
</style>
