<template>
  <router-view />
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=Dancing+Script:wght@700&family=Oswald:wght@500&family=Roboto:ital,wght@1,500&family=Source+Code+Pro&family=Staatliches&family=Viaoda+Libre&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@include foundation-everything;
body {
  background: $darkgray;
}
h3,
details {
  font-family: "Source Code Pro", monospace;
}
p {
  font-family: "Viaoda Libre", cursive;
}
h2 {
  font-family: "Roboto", sans-serif;
}
h4,
summary {
  font-family: "Dancing Script", cursive;
}
</style>
